<div class="row mt-5">
        <div class="col-md-6 mx-auto">
                <div class="card card-body">
                        <h1 class="text-center">Welcome to my page</h1>
                        <hr>
                        <br>
                        <a class="btn btn-primary" href="/users/login">I'm already a member!</a>
                        <br>
                        <a class="btn btn-success" href="/users/register">I'm ready to Join!</a>
                </div>
        </div>
</div>